In [450]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.plotting import plot_decision_regions

In [451]:
df_raw = pd.read_csv('Otodom_Flat_Listings.csv')
df_raw.sample(10
              )

,Title,Price,Location,Surface,Number_of_Rooms,Floor,Finishing_Condition,Heating,Parking_Space,Balcony_Garden_Terrace,Link,Voivodeship,City
1777,"Przytulne 3 pok mieszkanie Mokry Dwór, Wrocław",448900.0,"ul. Opolska, Mokry Dwór, Siechnice, wrocławski...",48.00,3,1/2,do zamieszkania,NaN,garaż/miejsce parkingowe,ogródek,https://www.otodom.pl/pl/oferta/przytulne-3-po...,Dolnośląskie,wrocławski
1976,2POK 48M2 UL.Koszykarska Wykończone Balkon Garaż,650000.0,"Płaszów, Podgórze, Kraków, małopolskie",48.00,2,3/6,do zamieszkania,miejskie,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/2pok-48m2-ul-k...,Małopolskie,Kraków
1901,Dni Otwarte 18-19.11 | mieszkanie B46,449000.0,"ul. Stefana Żeromskiego 57, Sośnica, Gliwice, ...",57.78,3,3/3,do wykończenia,NaN,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/dni-otwarte-18...,Śląskie,Gliwice
2712,2 Osobne Pokoje | Śródmieście | Stan Deweloperski,750000.0,"ul. Długie Ogrody, Śródmieście, Gdańsk, pomorskie",45.13,2,3/5,do wykończenia,miejskie,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/2-osobne-pokoj...,Pomorskie,Gdańsk
516,3-pokojowe mieszkanie 57m2 + ogródek,NaN,"ul. Legnicka, Siedlce, Gdańsk, pomorskie",57.06,3,parter/2,do wykończenia,NaN,garaż/miejsce parkingowe,ogródek,https://www.otodom.pl/pl/oferta/3-pokojowe-mie...,Pomorskie,Gdańsk
1412,4 POKOJE z odbiorem w grudniu - program 2%,678090.0,"ul. Skrajna, Ząbki, wołomiński, mazowieckie",64.58,4,1/5,do wykończenia,miejskie,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/4-pokoje-z-odb...,Mazowieckie,wołomiński
2747,Niebuszewo: dwupokojowe rozkładowe z ogrz. gaz...,310000.0,"Niebuszewo-Bolinko, Śródmieście, Szczecin, zac...",45.88,2,4/4,do zamieszkania,gazowe,NaN,NaN,https://www.otodom.pl/pl/oferta/niebuszewo-dwu...,Zachodniopomorskie,Szczecin
732,"3 pokoje niezależne, duży balkon, cegła",580000.0,"os. Władysława Jagiełły, Piątkowo, Stare Miast...",58.00,3,3/4,do zamieszkania,miejskie,NaN,balkon,https://www.otodom.pl/pl/oferta/3-pokoje-nieza...,Wielkopolskie,Poznań
2397,"Kościelisko, Widokowe, parking, sauna.",620000.0,"Kościelisko, Kościelisko, tatrzański, małopolskie",45.00,1,parter,NaN,NaN,NaN,balkon,https://www.otodom.pl/pl/oferta/koscielisko-wi...,Małopolskie,tatrzański
1981,Super Cena kredyt 2% świetne 3 pok. przy ul.Gó...,549000.0,"ul. Górna, Bezrzecze, Dobra (Szczecińska), pol...",57.40,3,2/2,do zamieszkania,gazowe,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/super-cena-kre...,Zachodniopomorskie,policki

In [452]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2807 entries, 0 to 2806
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   2807 non-null   object
 1   Price                   2664 non-null   float64
 2   Location                2806 non-null   object
 3   Surface                 2807 non-null   float64
 4   Number_of_Rooms         2807 non-null   object
 5   Floor                   2743 non-null   object
 6   Finishing_Condition     2229 non-null   object
 7   Heating                 2060 non-null   object
 8   Parking_Space           1478 non-null   object
 9   Balcony_Garden_Terrace  2102 non-null   object
 10  Link                    2807 non-null   object
 11  Voivodeship             2806 non-null   object
 12  City                    2806 non-null   object
dtypes: float64(2), object(11)
memory usage: 285.2+ KB

In [453]:
df_raw.isnull().sum()

Title                        0
Price                      143
Location                     1
Surface                      0
Number_of_Rooms              0
Floor                       64
Finishing_Condition        578
Heating                    747
Parking_Space             1329
Balcony_Garden_Terrace     705
Link                         0
Voivodeship                  1
City                         1
dtype: int64

In [454]:
df_raw.head()

,Title,Price,Location,Surface,Number_of_Rooms,Floor,Finishing_Condition,Heating,Parking_Space,Balcony_Garden_Terrace,Link,Voivodeship,City
0,2 pokoje 47m2 po remoncie + garderoba + balkon,415000.0,"ul. Marysińska, Stare Bałuty, Bałuty, Łódź, łó...",47.0,2,NaN,do zamieszkania,miejskie,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/2-pokoje-47m2-...,Łódzkie,Łódź
1,Właściciel- Ludwiki DD - WIDOK NA ZIELEŃ - 2x gar,2499000.0,"ul. Ludwiki, Czyste, Wola, Warszawa, mazowieckie",105.0,4,2/8,do wykończenia,miejskie,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/wlasciciel-lud...,Mazowieckie,Warszawa
2,"Sprzedam mieszkanie 60m2, 2 balkony, garderoba",649000.0,"ul. Londyńska, Gorzów Wielkopolski, lubuskie",60.0,3,4/4,do zamieszkania,miejskie,NaN,"balkon, taras",https://www.otodom.pl/pl/oferta/sprzedam-miesz...,Lubuskie,Gorzów Wielkopolski
3,"Wyjątkowy, duży apartament z antresolą",2108000.0,"Mrzeżyno, Trzebiatów, gryficki, zachodniopomor...",78.3,3,4/4,do wykończenia,NaN,garaż/miejsce parkingowe,NaN,https://www.otodom.pl/pl/oferta/wyjatkowy-duzy...,Zachodniopomorskie,gryficki
4,"2/3-pok. 49,2 m2 w samym sercu Koszalina - Kuncer",450180.0,"ul. Bartosza Głowackiego, Koszalin, zachodniop...",49.2,2,2/3,do zamieszkania,miejskie,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/2-3-pok-49-2-m...,Zachodniopomorskie,Koszalin

In [455]:
df = df_raw.copy()
df.head()

,Title,Price,Location,Surface,Number_of_Rooms,Floor,Finishing_Condition,Heating,Parking_Space,Balcony_Garden_Terrace,Link,Voivodeship,City
0,2 pokoje 47m2 po remoncie + garderoba + balkon,415000.0,"ul. Marysińska, Stare Bałuty, Bałuty, Łódź, łó...",47.0,2,NaN,do zamieszkania,miejskie,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/2-pokoje-47m2-...,Łódzkie,Łódź
1,Właściciel- Ludwiki DD - WIDOK NA ZIELEŃ - 2x gar,2499000.0,"ul. Ludwiki, Czyste, Wola, Warszawa, mazowieckie",105.0,4,2/8,do wykończenia,miejskie,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/wlasciciel-lud...,Mazowieckie,Warszawa
2,"Sprzedam mieszkanie 60m2, 2 balkony, garderoba",649000.0,"ul. Londyńska, Gorzów Wielkopolski, lubuskie",60.0,3,4/4,do zamieszkania,miejskie,NaN,"balkon, taras",https://www.otodom.pl/pl/oferta/sprzedam-miesz...,Lubuskie,Gorzów Wielkopolski
3,"Wyjątkowy, duży apartament z antresolą",2108000.0,"Mrzeżyno, Trzebiatów, gryficki, zachodniopomor...",78.3,3,4/4,do wykończenia,NaN,garaż/miejsce parkingowe,NaN,https://www.otodom.pl/pl/oferta/wyjatkowy-duzy...,Zachodniopomorskie,gryficki
4,"2/3-pok. 49,2 m2 w samym sercu Koszalina - Kuncer",450180.0,"ul. Bartosza Głowackiego, Koszalin, zachodniop...",49.2,2,2/3,do zamieszkania,miejskie,garaż/miejsce parkingowe,balkon,https://www.otodom.pl/pl/oferta/2-3-pok-49-2-m...,Zachodniopomorskie,Koszalin

In [456]:
df['Floor'].value_counts()

Floor
4/4      177
1/2      163
3/3      163
3/4      160
2/4      133
        ...
2/9        1
6          1
9          1
10/12      1
3/18       1
Name: count, Length: 146, dtype: int64

In [457]:
df['Floor'] = df['Floor'].astype(str).apply(lambda x: x[0] if len(x) > 0 else x)
df['Floor'].value_counts()

Floor
1    666
p    554
2    506
3    438
4    302
5     84
n     64
6     55
7     43
8     41
>     33
9     19
s      2
Name: count, dtype: int64

In [458]:
df['Floor'] = df['Floor'].apply(lambda x: '0' if x == 'p' else x)
df['Floor'] = df['Floor'].apply(lambda x: np.NaN if x == 'n' else x)

In [459]:
df['Floor'].value_counts()

Floor
1    666
0    554
2    506
3    438
4    302
5     84
6     55
7     43
8     41
>     33
9     19
s      2
Name: count, dtype: int64

In [460]:
df['Floor'] = df['Floor'].replace('>', np.nan).replace('s', np.nan)

Floor
1    666
0    554
2    506
3    438
4    302
5     84
6     55
7     43
8     41
9     19
Name: count, dtype: int64

In [462]:
df.drop(['Title','Location','Link'], axis =1, inplace = True)
df.head()

,Price,Surface,Number_of_Rooms,Floor,Finishing_Condition,Heating,Parking_Space,Balcony_Garden_Terrace,Voivodeship,City
0,415000.0,47.0,2,NaN,do zamieszkania,miejskie,garaż/miejsce parkingowe,balkon,Łódzkie,Łódź
1,2499000.0,105.0,4,2,do wykończenia,miejskie,garaż/miejsce parkingowe,balkon,Mazowieckie,Warszawa
2,649000.0,60.0,3,4,do zamieszkania,miejskie,NaN,"balkon, taras",Lubuskie,Gorzów Wielkopolski
3,2108000.0,78.3,3,4,do wykończenia,NaN,garaż/miejsce parkingowe,NaN,Zachodniopomorskie,gryficki
4,450180.0,49.2,2,2,do zamieszkania,miejskie,garaż/miejsce parkingowe,balkon,Zachodniopomorskie,Koszalin

In [463]:
df['Voivodeship'].value_counts()

Voivodeship
Mazowieckie            524
Pomorskie              455
Dolnośląskie           349
Śląskie                284
Małopolskie            244
Wielkopolskie          227
Kujawsko-pomorskie     171
Zachodniopomorskie     155
Łódzkie                137
Lubelskie               57
Podlaskie               45
Warmińsko-mazurskie     43
Świętokrzyskie          38
Lubuskie                36
Podkarpackie            21
Opolskie                20
Name: count, dtype: int64

In [464]:
df['City'].value_counts()

City
Warszawa         404
Gdańsk           284
Wrocław          236
Kraków           192
Poznań           151
                ...
międzychodzki      1
strzelecki         1
Przemyśl           1
wołowski           1
legionowski        1
Name: count, Length: 237, dtype: int64

In [465]:
vc = df['City'].value_counts()
df['City'] = df['City'].apply(lambda x: 'Inne' if isinstance(x, str) and x[0].islower() else x)

In [468]:
df['Number_of_Rooms'].value_counts()

Number_of_Rooms
3                896
2                895
4                344
1                208
3                147
2                146
5                 59
4                 55
1                 27
5                 11
6                  7
więcej niż 10      5
9                  2
6                  2
7                  2
7                  1
Name: count, dtype: int64

In [469]:
df['Number_of_Rooms'] = df['Number_of_Rooms'].apply(lambda x: x.strip() if isinstance(x, str) else x)

Number_of_Rooms
3                1043
2                1041
4                 399
1                 235
5                  70
6                   9
więcej niż 10       5
7                   3
9                   2
Name: count, dtype: int64

In [471]:
df['Finishing_Condition'].value_counts()

Finishing_Condition
do zamieszkania    1196
do wykończenia      841
do remontu          192
Name: count, dtype: int64

In [472]:
df['Heating'].value_counts()

Heating
miejskie         1451
gazowe            394
inne              108
kotłownia          62
elektryczne        39
piece kaflowe       6
Name: count, dtype: int64

In [475]:
df.dropna(subset = ['Price'], inplace = True)

Price                        0
Surface                      0
Number_of_Rooms              0
Floor                       99
Finishing_Condition        578
Heating                    611
Parking_Space             1306
Balcony_Garden_Terrace     687
Voivodeship                  1
City                         1
dtype: int64

In [476]:
df['Balcony_Garden_Terrace'].value_counts()

Balcony_Garden_Terrace
balkon                    1422
ogródek                    140
taras                      114
balkon, taras               97
ogródek, taras              97
balkon, ogródek             61
balkon, ogródek, taras      28
taras, ogródek              16
taras, balkon                2
Name: count, dtype: int64

In [477]:
df['Heating'] = df['Heating'].fillna('inne').apply(lambda x: x.strip().lower() if isinstance(x, str) else x)

Heating
miejskie         1446
inne              718
gazowe            393
kotłownia          62
elektryczne        39
piece kaflowe       6
Name: count, dtype: int64

In [478]:
df['Parking_Space'] = df['Parking_Space'].fillna('inne').apply(lambda x: x.strip().lower() if isinstance(x, str) else x)

Parking_Space
garaż/miejsce parkingowe    1358
inne                        1306
Name: count, dtype: int64

In [479]:
df.isnull().sum()

Price                       0
Surface                     0
Number_of_Rooms             0
Floor                      99
Finishing_Condition       578
Heating                     0
Parking_Space               0
Balcony_Garden_Terrace    687
Voivodeship                 1
City                        1
dtype: int64

In [480]:
df.dropna(subset =['Voivodeship'], inplace = True)
df.dropna(subset = ['City'], inplace = True)

Price                       0
Surface                     0
Number_of_Rooms             0
Floor                      99
Finishing_Condition       578
Heating                     0
Parking_Space               0
Balcony_Garden_Terrace    687
Voivodeship                 0
City                        0
dtype: int64

In [481]:
df['Balcony_Garden_Terrace'] = df['Balcony_Garden_Terrace'].fillna('inne').apply(lambda x: x.strip().lower() if isinstance(x, str) else x)

Balcony_Garden_Terrace
balkon                    1422
inne                       687
ogródek                    140
taras                      113
balkon, taras               97
ogródek, taras              97
balkon, ogródek             61
balkon, ogródek, taras      28
taras, ogródek              16
taras, balkon                2
Name: count, dtype: int64

In [482]:
import pandas as pd
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')


df['Floor'] = imputer.fit_transform(df[['Floor']])

In [483]:
df['Floor'].isnull().sum()

0

In [484]:
print(df['Finishing_Condition'].isnull().sum())
print(df['Finishing_Condition'].value_counts())

578
Finishing_Condition
do zamieszkania    1195
do wykończenia      698
do remontu          192
Name: count, dtype: int64

In [485]:
df['Finishing_Condition'] = df['Finishing_Condition'].fillna('inne').apply(lambda x: x.strip().lower() if isinstance(x, str) else x)

Finishing_Condition
do zamieszkania    1195
do wykończenia      698
inne                578
do remontu          192
Name: count, dtype: int64

In [486]:
df.isnull().sum()

Price                     0
Surface                   0
Number_of_Rooms           0
Floor                     0
Finishing_Condition       0
Heating                   0
Parking_Space             0
Balcony_Garden_Terrace    0
Voivodeship               0
City                      0
dtype: int64

In [488]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Heating'] = le.fit_transform(df['Heating'])
df['Parking_Space'] = le.fit_transform(df['Parking_Space'])
df['Balcony_Garden_Terrace'] = le.fit_transform(df['Balcony_Garden_Terrace'])
df['Finishing_Condition'] = le.fit_transform(df['Finishing_Condition'])
df.head()

,Price,Surface,Number_of_Rooms,Floor,Finishing_Condition,Heating,Parking_Space,Balcony_Garden_Terrace,Voivodeship,City
0,415000.0,47.0,2,2.0,2,4,0,0,Łódzkie,Łódź
1,2499000.0,105.0,4,2.0,1,4,0,0,Mazowieckie,Warszawa
2,649000.0,60.0,3,4.0,2,4,1,3,Lubuskie,Gorzów Wielkopolski
3,2108000.0,78.3,3,4.0,1,2,0,4,Zachodniopomorskie,Inne
4,450180.0,49.2,2,2.0,2,4,0,0,Zachodniopomorskie,Koszalin

In [489]:
df.drop(df.loc[df['Number_of_Rooms'] == 'więcej niż 10'].index, inplace=True)

Number_of_Rooms
2    1010
3     992
4     363
1     213
5      66
6       9
7       3
9       2
Name: count, dtype: int64

In [491]:
df.drop('City', axis = 1, inplace = True)

In [492]:
voivodeship_groupby_mean = df.groupby('Voivodeship')['Price'].mean()

In [493]:
df['mean_price_in_voivodeship'] = df['Voivodeship'].map(voivodeship_groupby_mean).astype(int)

In [494]:
df.head()

,Price,Surface,Number_of_Rooms,Floor,Finishing_Condition,Heating,Parking_Space,Balcony_Garden_Terrace,Voivodeship,mean_price_in_voivodeship
0,415000.0,47.0,2,2.0,2,4,0,0,Łódzkie,1235416
1,2499000.0,105.0,4,2.0,1,4,0,0,Mazowieckie,2244575
2,649000.0,60.0,3,4.0,2,4,1,3,Lubuskie,1992494
3,2108000.0,78.3,3,4.0,1,2,0,4,Zachodniopomorskie,1495654
4,450180.0,49.2,2,2.0,2,4,0,0,Zachodniopomorskie,1495654

In [495]:
df['mean_m2_price'] = df['Price'] / df['Surface']
df['mean_m2_price'] = df['mean_m2_price'].astype(int)
df.head()

,Price,Surface,Number_of_Rooms,Floor,Finishing_Condition,Heating,Parking_Space,Balcony_Garden_Terrace,Voivodeship,mean_price_in_voivodeship,mean_m2_price
0,415000.0,47.0,2,2.0,2,4,0,0,Łódzkie,1235416,8829
1,2499000.0,105.0,4,2.0,1,4,0,0,Mazowieckie,2244575,23800
2,649000.0,60.0,3,4.0,2,4,1,3,Lubuskie,1992494,10816
3,2108000.0,78.3,3,4.0,1,2,0,4,Zachodniopomorskie,1495654,26922
4,450180.0,49.2,2,2.0,2,4,0,0,Zachodniopomorskie,1495654,9150

In [496]:
voivodeship_groupby_m2_mean = df.groupby('Voivodeship')['mean_m2_price'].mean()
df['mean_m2_price_in_voivodeship'] = df['Voivodeship'].map(voivodeship_groupby_m2_mean).astype(int)
df.head()

,Price,Surface,Number_of_Rooms,Floor,Finishing_Condition,Heating,Parking_Space,Balcony_Garden_Terrace,Voivodeship,mean_price_in_voivodeship,mean_m2_price,mean_m2_price_in_voivodeship
0,415000.0,47.0,2,2.0,2,4,0,0,Łódzkie,1235416,8829,21182
1,2499000.0,105.0,4,2.0,1,4,0,0,Mazowieckie,2244575,23800,35454
2,649000.0,60.0,3,4.0,2,4,1,3,Lubuskie,1992494,10816,28099
3,2108000.0,78.3,3,4.0,1,2,0,4,Zachodniopomorskie,1495654,26922,29355
4,450180.0,49.2,2,2.0,2,4,0,0,Zachodniopomorskie,1495654,9150,29355

In [522]:
def price_category(row):

  voivodeship = row['Voivodeship']
  mean_price = row['mean_m2_price']

  mean_price_m2_in_voivodeship = df[df['Voivodeship'] == voivodeship]['mean_m2_price_in_voivodeship'].mean()

  if mean_price < mean_price_m2_in_voivodeship * 0.3:
    return 'cheap'
  elif mean_price < mean_price_m2_in_voivodeship * 0.8:
    return 'normal'
  else:
    return 'expensive'

In [523]:
df['price_category'] = df.apply(price_category, axis=1)
df.head()

,Price,Surface,Number_of_Rooms,Floor,Finishing_Condition,Heating,Parking_Space,Balcony_Garden_Terrace,Voivodeship,mean_price_in_voivodeship,mean_m2_price,mean_m2_price_in_voivodeship,price_category
0,415000.0,47.0,2,2.0,2,4,0,0,Łódzkie,1235416,8829,21182,normal
1,2499000.0,105.0,4,2.0,1,4,0,0,Mazowieckie,2244575,23800,35454,normal
2,649000.0,60.0,3,4.0,2,4,1,3,Lubuskie,1992494,10816,28099,normal
3,2108000.0,78.3,3,4.0,1,2,0,4,Zachodniopomorskie,1495654,26922,29355,expensive
4,450180.0,49.2,2,2.0,2,4,0,0,Zachodniopomorskie,1495654,9150,29355,normal

In [524]:
df['price_category'].value_counts()

price_category
normal       1295
cheap         851
expensive     512
Name: count, dtype: int64

In [541]:
data = df[['Voivodeship','mean_m2_price','Number_of_Rooms','Parking_Space']].copy()
target = df['price_category'].copy()
data.head()

          Voivodeship  mean_m2_price Number_of_Rooms  Parking_Space
0             Łódzkie           8829               2              0
1         Mazowieckie          23800               4              0
2            Lubuskie          10816               3              1
3  Zachodniopomorskie          26922               3              0
4  Zachodniopomorskie           9150               2              0

In [544]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Voivodeship'] = le.fit_transform(data['Voivodeship'])
target = le.fit_transform(target)

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.3, random_state=42)

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_combined_std = np.vstack((X_train_scaled, X_test_scaled))
y_combined = np.hstack((y_train, y_test))

In [545]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

print('Random Forest Accuracy for n_estimators \n')
for i in np.arange(1 , 250, 25 -1):
  rf_classifier = RandomForestClassifier(n_estimators=i, random_state=42)
  rf_classifier.fit(X_train_scaled, y_train)
  y_pred = rf_classifier.predict(X_test_scaled)
  accuracy = accuracy_score(y_test, y_pred)
  print(f"Accuracy for {i} estimators: {accuracy}")

from sklearn.svm import SVC

print('\n SVC accuracy for C = i \n')

for i in range(1,11):
  svm = SVC(kernel='rbf', C=i)
  svm.fit(X_train_scaled, y_train)
  y_pred = svm.predict(X_test_scaled)
  accuracy = accuracy_score(y_test, y_pred)
  print(f"Accuracy for {i} estimators: {accuracy}")

from sklearn.linear_model import LogisticRegression

print('\n')
lr = LogisticRegression()
lr.fit(X_train_scaled, y_train)
y_pred = lr.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy for Logistic Regression: {accuracy}")

Random Forest Accuracy for n_estimators

Accuracy for 1 estimators: 0.9172932330827067
Accuracy for 25 estimators: 0.9736842105263158
Accuracy for 49 estimators: 0.9849624060150376
Accuracy for 73 estimators: 0.9862155388471178
Accuracy for 97 estimators: 0.9874686716791979
Accuracy for 121 estimators: 0.9887218045112782
Accuracy for 145 estimators: 0.9874686716791979
Accuracy for 169 estimators: 0.9874686716791979
Accuracy for 193 estimators: 0.9874686716791979
Accuracy for 217 estimators: 0.9862155388471178
Accuracy for 241 estimators: 0.9874686716791979

 SVC accuracy for C = i

Accuracy for 1 estimators: 0.5739348370927319
Accuracy for 2 estimators: 0.5701754385964912
Accuracy for 3 estimators: 0.5939849624060151
Accuracy for 4 estimators: 0.5889724310776943
Accuracy for 5 estimators: 0.6027568922305765
Accuracy for 6 estimators: 0.6052631578947368
Accuracy for 7 estimators: 0.6127819548872181
Accuracy for 8 estimators: 0.6240601503759399
Accuracy for 9 estimators: 0.6353383458646616
Accuracy for 10 estimators: 0.6466165413533834


Accuracy for Logistic Regression: 0.5764411027568922

In [539]:
rf_classifier = RandomForestClassifier(n_estimators=1, random_state=42)
rf_classifier.fit(X_train_scaled, y_train)
y_pred = rf_classifier.predict(X_test_scaled)

accuracy_score = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy_score}")

Accuracy: 0.9060150375939849